Repository mediacloud/web-search, pull requests merged in 2022-12, with the labels that each got.

#189 Possible fix for total attention and sample stories
  mcweb/backend/search/utils.py
Labels: bug

#196 Add model constraints, TODOs from last pr
  mcweb/backend/sources/models.py
Labels: enhancement

#205 Reddit search fix
  mcweb/backend/search/providers/reddit.py
Labels: bug, search

#203 Feeds
  mcweb/backend/search/views.py
  mcweb/backend/sources/api.py
  mcweb/backend/sources/feed_url.py
  mcweb/backend/sources/models.py
  mcweb/backend/sources/serializer.py
  mcweb/frontend/src/App.jsx
  mcweb/frontend/src/app/services/feedsApi.js
  mcweb/frontend/src/app/services/managerApi.js
  mcweb/frontend/src/app/services/sourceApi.js
  mcweb/frontend/src/features/auth/Account.jsx
  mcweb/frontend/src/features/auth/Permissioned.jsx
  mcweb/frontend/src/features/collections/CollectionHeader.jsx
  mcweb/frontend/src/features/collections/CreateCollection.jsx
  mcweb/frontend/src/features/collections/GeographicNewsCollections.jsx
  mcweb/frontend/src/features/directory/DirectoryHome.jsx
  mcweb/frontend/src/features/directory/DirectorySearch.jsx
  mcweb/frontend/src/features/feeds/CreateFeed.jsx
  mcweb/frontend/src/features/feeds/FeedHeader.jsx
  mcweb/frontend/src/features/feeds/FeedHistory.jsx
  mcweb/frontend/src/features/feeds/FeedItem.jsx
  mcweb/frontend/src/features/feeds/FeedShow.jsx
  mcweb/frontend/src/features/feeds/FeedStories.jsx
  mcweb/frontend/src/features/feeds/ModifyFeed.jsx
  mcweb/frontend/src/features/feeds/style/_feed-show.scss
  mcweb/frontend/src/features/footer/Footer.jsx
  mcweb/frontend/src/features/search/Search.jsx
  mcweb/frontend/src/features/search/query/SimpleSearch.jsx
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/search/util/SearchAlertDialog.jsx
  mcweb/frontend/src/features/search/util/urlSerializer.js
  mcweb/frontend/src/features/sources/CreateSource.jsx
  mcweb/frontend/src/features/sources/ListSourceFeeds.jsx
  mcweb/frontend/src/features/sources/SourceHeader.jsx
  mcweb/frontend/src/features/ui/AlertDialog.jsx
  mcweb/frontend/src/features/ui/ControlBar.jsx
  mcweb/frontend/src/features/ui/Header.jsx
  mcweb/frontend/src/style/Application.scss
Labels: enhancement, directory

#209 Add delete action for sources and collections
  mcweb/frontend/src/app/services/collectionsApi.js
  mcweb/frontend/src/app/services/sourceApi.js
  mcweb/frontend/src/features/collections/CollectionHeader.jsx
  mcweb/frontend/src/features/sources/SourceHeader.jsx
Labels: enhancement, directory

#207 Additional icons added
  mcweb/frontend/src/features/auth/ConfirmedReset.jsx
  mcweb/frontend/src/features/auth/ResetPassword.jsx
  mcweb/frontend/src/features/auth/SignUp.jsx
  mcweb/frontend/src/features/collections/CollectionHeader.jsx
  mcweb/frontend/src/features/collections/util/DownloadSourcesCsv.jsx
  mcweb/frontend/src/features/header/Header.jsx
  mcweb/frontend/src/features/homepage/Homepage.jsx
  mcweb/frontend/src/features/search/Search.jsx
  mcweb/frontend/src/features/search/results/CountOverTimeResults.jsx
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/search/results/TotalAttentionResults.jsx
  mcweb/frontend/src/features/sources/SourceHeader.jsx
Labels: enhancement, search, directory
