Repository mediacloud/web-search, pull requests merged in 2023-01, with the labels that each got.

#210 added collection type for featured collections list
  mcweb/frontend/src/features/collections/FeaturedCollections.jsx
Labels: enhancement, directory

#214 Fix being able to only select one additional collection in the collection picker
  mcweb/frontend/src/features/search/query/SelectedMedia.jsx
  mcweb/frontend/src/features/search/query/media-picker/CollectionSelectionTable.jsx
  mcweb/frontend/src/features/search/query/media-picker/FeaturedCollectionsPicker.jsx
  mcweb/frontend/src/features/search/query/querySlice.js
Labels: bug, search

#219 Add created_at and modified_at to feed response
  mcweb/backend/sources/serializer.py
Labels: bug, directory

#220 Remove mediacloud provider
  mcweb/frontend/src/features/search/query/PlatformPicker.jsx
  mcweb/frontend/src/features/search/query/querySlice.js
Labels: enhancement, search, high

#218 User deletion
  mcweb/backend/users/urls.py
  mcweb/backend/users/views.py
  mcweb/frontend/src/app/services/authApi.js
  mcweb/frontend/src/features/auth/Account.jsx
  mcweb/frontend/src/features/auth/authSlice.js
  mcweb/frontend/src/features/ui/AlertDialog.jsx
Labels: enhancement

#221 Bad url
  mcweb/frontend/src/App.jsx
  mcweb/frontend/src/features/auth/authSlice.js
  mcweb/frontend/src/features/ui/BadURL.jsx
  mcweb/frontend/src/features/ui/style/_badURL.scss
  mcweb/frontend/src/style/Application.scss
  mcweb/frontend/static/img/fail-fox-bad-url.png
Labels: bug, low

#226 Add secondAction to current AlertDialogs and revert authSlice changes
  mcweb/frontend/src/features/auth/authSlice.js
  mcweb/frontend/src/features/collections/CollectionHeader.jsx
  mcweb/frontend/src/features/feeds/FeedHeader.jsx
  mcweb/frontend/src/features/sources/ListSourceFeeds.jsx
  mcweb/frontend/src/features/sources/SourceHeader.jsx
  mcweb/frontend/src/features/ui/AlertDialog.jsx
Labels: bug

#228 Add links in header back to show page
  mcweb/frontend/src/features/collections/CollectionHeader.jsx
  mcweb/frontend/src/features/feeds/FeedHeader.jsx
  mcweb/frontend/src/features/sources/SourceHeader.jsx
  mcweb/settings.py
Labels: enhancement, directory

#232 Add space between buttons and change to outlined
  mcweb/frontend/src/features/search/Search.jsx
Labels: enhancement, search, low

#234 Optimize querySlice.js
  mcweb/frontend/src/features/search/Search.jsx
  mcweb/frontend/src/features/search/query/AdvancedSearch.jsx
  mcweb/frontend/src/features/search/query/PlatformPicker.jsx
  mcweb/frontend/src/features/search/query/QueryList.jsx
  mcweb/frontend/src/features/search/query/SearchDatePicker.jsx
  mcweb/frontend/src/features/search/query/SimpleSearch.jsx
  mcweb/frontend/src/features/search/query/querySlice.js
  mcweb/frontend/src/features/search/util/setSearchQuery.js
Labels: enhancement, search, low

#238 Source feed stories
  mcweb/backend/sources/api.py
  mcweb/frontend/src/app/services/feedsApi.js
  mcweb/frontend/src/features/auth/Account.jsx
  mcweb/frontend/src/features/collections/CollectionList.jsx
  mcweb/frontend/src/features/collections/ModifyCollection.jsx
  mcweb/frontend/src/features/feeds/FeedShow.jsx
  mcweb/frontend/src/features/feeds/FeedStories.jsx
  mcweb/frontend/src/features/feeds/style/_feed-stories.scss
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/sources/SourceShow.jsx
  mcweb/frontend/src/style/Application.scss
Labels: enhancement, directory

#243 Cleaned up Search.jsx
  mcweb/frontend/src/features/auth/Account.jsx
  mcweb/frontend/src/features/collections/CollectionHeader.jsx
  mcweb/frontend/src/features/feeds/FeedHeader.jsx
  mcweb/frontend/src/features/search/Search.jsx
  mcweb/frontend/src/features/search/query/SimpleSearch.jsx
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/sources/ListSourceFeeds.jsx
  mcweb/frontend/src/features/sources/SourceHeader.jsx
  mcweb/frontend/src/features/ui/AlertDialog.jsx
Labels: bug, search, low

#233 Default dates
  mcweb/frontend/src/features/search/query/DefaultDates.jsx
  mcweb/frontend/src/features/search/query/SearchDatePicker.jsx
  package.json
Labels: enhancement, search

#245 Attempted fix for large twitter downloads
  mcweb/backend/search/providers/twitter.py
Labels: bug, search

#249 Fix column titles for download sources, quick fix for upload sources
  mcweb/backend/sources/api.py
  mcweb/backend/sources/models.py
  mcweb/frontend/src/app/services/sourcesCollectionsApi.js
Labels: bug, directory

#262 Disable WB online news search for dates before 8/1/22
  mcweb/frontend/src/features/search/Search.jsx
  mcweb/frontend/src/features/search/query/SearchDatePicker.jsx
  mcweb/frontend/src/features/search/query/style/_date-picker.scss
  mcweb/frontend/src/features/search/util/platforms.js
Labels: bug, search

#256 Story show page
  mcweb/backend/search/providers/onlinenews.py
  mcweb/backend/search/urls.py
  mcweb/backend/search/views.py
  mcweb/frontend/src/App.jsx
  mcweb/frontend/src/app/services/searchApi.js
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/sources/ListSourceFeeds.jsx
  mcweb/frontend/src/features/stories/StoryShow.jsx
Labels: enhancement, search

#268 Providers integration
  mcweb/backend/search/providers/__init__.py
  mcweb/backend/search/providers/exceptions.py
  mcweb/backend/search/providers/language/__init__.py
  mcweb/backend/search/providers/language/ca_stop_words.txt
  mcweb/backend/search/providers/language/da_stop_words.txt
  mcweb/backend/search/providers/language/de_stop_words.txt
  mcweb/backend/search/providers/language/en_stop_words.txt
  mcweb/backend/search/providers/language/es_stop_words.txt
  mcweb/backend/search/providers/language/fi_stop_words.txt
  mcweb/backend/search/providers/language/fr_stop_words.txt
  mcweb/backend/search/providers/language/ha_stop_words.txt
  mcweb/backend/search/providers/language/hi_stop_words.txt
  mcweb/backend/search/providers/language/hu_stop_words.txt
  mcweb/backend/search/providers/language/it_stop_words.txt
  mcweb/backend/search/providers/language/ja_stop_words.txt
  mcweb/backend/search/providers/language/lt_stop_words.txt
  mcweb/backend/search/providers/language/nl_stop_words.txt
  mcweb/backend/search/providers/language/no_stop_words.txt
  mcweb/backend/search/providers/language/pt_stop_words.txt
  mcweb/backend/search/providers/language/ro_stop_words.txt
  mcweb/backend/search/providers/language/ru_stop_words.txt
  mcweb/backend/search/providers/language/sv_stop_words.txt
  mcweb/backend/search/providers/language/tr_stop_words.txt
  mcweb/backend/search/providers/language/zh_stop_words.txt
  mcweb/backend/search/providers/onlinenews.py
  mcweb/backend/search/providers/provider.py
  mcweb/backend/search/providers/reddit.py
  mcweb/backend/search/providers/test/__init__.py
  mcweb/backend/search/providers/test/test_onlinenews.py
  mcweb/backend/search/providers/test/test_reddit.py
  mcweb/backend/search/providers/test/test_twitter.py
  mcweb/backend/search/providers/test/test_youtube.py
  mcweb/backend/search/providers/twitter.py
  mcweb/backend/search/providers/youtube.py
  mcweb/backend/search/utils.py
  mcweb/backend/search/views.py
  mcweb/backend/sources/api.py
  mcweb/backend/users/exceptions.py
  mcweb/backend/users/models.py
  mcweb/frontend/views.py
  mcweb/util/cache.py
  requirements.txt
Labels: enhancement, search

#269 Changes to info button for WM sample stories
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/stories/StoryShow.jsx
Labels: bug, search

#267 Add application release notes
  mcweb/frontend/src/App.jsx
  mcweb/frontend/src/features/about/ReleaseNotes.jsx
  mcweb/frontend/src/features/header/Header.jsx
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/ui/ModalHelper.jsx
  mcweb/frontend/src/features/ui/modal/_modal.scss
  mcweb/frontend/src/features/ui/modal/modal.js
  mcweb/frontend/src/style/Application.scss
  mcweb/frontend/static/about/release_history.json
Labels: documentation, enhancement

#270 Update stories per week using 30 day avg counts from Rss Fetcher
  mcweb/backend/sources/data/Sources-avg-story-num-30-day-moving-avg-20230131154800.csv
  mcweb/backend/sources/management/commands/import-stories-per-week.py
Labels: directory
