Repository mediacloud/web-search, pull requests merged in 2023-09, with the labels that each got.

#496 Adjust search architecture
  mcweb/backend/search/utils.py
  mcweb/backend/search/views.py
  mcweb/frontend/src/app/services/searchApi.js
  mcweb/frontend/src/features/search/results/CountOverTimeChart.jsx
  mcweb/frontend/src/features/search/results/CountOverTimeResults.jsx
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/search/results/TopLanguages.jsx
  mcweb/frontend/src/features/search/results/TopWords.jsx
  mcweb/frontend/src/features/search/results/TotalAttentionResults.jsx
  mcweb/frontend/src/features/search/util/prepareCountOverTimeData.js
  mcweb/frontend/src/features/search/util/prepareLanguageData.js
  mcweb/frontend/src/features/search/util/prepareTotalAttentionData.js
  mcweb/frontend/src/features/ui/InfoMenu.jsx
  mcweb/frontend/src/features/ui/TotalAttentionEmailModal.jsx
Labels: enhancement, search

#497 Fix key warnings
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/search/results/TopLanguages.jsx
  mcweb/frontend/src/features/search/results/TopWords.jsx
Labels: bug, search

#499 Attempt to handle max retries connection error
  mcweb/backend/search/views.py
Labels: bug, search

#503 Fix total count number for downloads
  mcweb/frontend/src/features/search/results/TotalAttentionResults.jsx
Labels: bug, search

#502 Adjustment to source show and edit pages
  mcweb/backend/sources/api.py
  mcweb/frontend/src/features/sources/ModifySource.jsx
  mcweb/frontend/src/features/sources/SourceShow.jsx
  mcweb/frontend/src/features/sources/util/buildStatArray.js
Labels: enhancement, directory

#504 Update version and notes for release 1.4.5
  mcweb/frontend/static/about/release_history.json
  mcweb/settings.py
Labels: documentation

#505 Transform Origin
  mcweb/frontend/src/features/ui/TabDropDownMenu.jsx
Labels: bug

#508 Fix weird indentations in search ui
  mcweb/frontend/src/features/search/query/DefaultDates.jsx
  mcweb/frontend/src/features/search/query/Search.jsx
  mcweb/frontend/src/features/search/query/style/_simple-search.scss
  mcweb/frontend/src/features/search/styles/_search.scss
Labels: bug, search

#512 Fix no results bug
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/search/results/TopLanguages.jsx
  mcweb/frontend/src/features/search/results/TopWords.jsx
Labels: bug, search
