Repository mediacloud/web-search, pull requests merged in 2023-06, with the labels that each got.

#370 Change collection and source serialization
  mcweb/backend/search/utils.py
  mcweb/backend/sources/api.py
  mcweb/frontend/src/app/services/collectionsApi.js
  mcweb/frontend/src/app/services/sourceApi.js
  mcweb/frontend/src/features/collections/CollectionHeader.jsx
  mcweb/frontend/src/features/feeds/FeedHistory.jsx
  mcweb/frontend/src/features/search/TabbedSearch.jsx
  mcweb/frontend/src/features/search/query/SelectedMedia.jsx
  mcweb/frontend/src/features/search/query/media-picker/MediaPicker.jsx
  mcweb/frontend/src/features/search/query/media-picker/MediaPickerSelectionTable.jsx
  mcweb/frontend/src/features/search/query/querySlice.js
  mcweb/frontend/src/features/search/util/prepareQueries.js
  mcweb/frontend/src/features/search/util/setSearchQuery.js
  mcweb/frontend/src/features/search/util/urlSerializer.js
Labels: enhancement, search

#382 Disable search button if from or to date are invalid
  mcweb/frontend/src/features/search/query/Search.jsx
  mcweb/frontend/src/features/search/query/SearchDatePicker.jsx
  mcweb/frontend/src/features/search/query/querySlice.js
  mcweb/frontend/src/features/search/util/deactivateButton.js
Labels: bug, search

#384 Fix set sources
  mcweb/frontend/src/features/search/util/setSearchQuery.js
Labels: bug

#385 Update version and release notes for 1.4.2 release
  mcweb/frontend/static/about/release_history.json
  mcweb/settings.py
Labels: documentation, enhancement, search, directory

#390 Add backwards url compatibility for collections
  mcweb/frontend/src/features/search/util/setSearchQuery.js
Labels: bug, search

#394 Fix bug for source and collection serialization
  mcweb/frontend/src/features/search/util/setSearchQuery.js
Labels: bug, search

#388 Key Errors
  mcweb/frontend/src/features/search/TabbedSearch.jsx
  mcweb/frontend/src/features/search/results/CountOverTimeChart.jsx
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/search/results/TopLanguages.jsx
  mcweb/frontend/src/features/search/results/TopWords.jsx
  mcweb/frontend/src/features/search/util/createNonUniqueKey.js
Labels: bug, enhancement, search

#383 Async large downloads
  mcweb/backend/search/tasks.py
  mcweb/backend/search/urls.py
  mcweb/backend/search/views.py
  mcweb/backend/sources/management/commands/source-alert-system.py
  mcweb/frontend/src/app/services/searchApi.js
  mcweb/frontend/src/features/search/query/PlatformPicker.jsx
  mcweb/frontend/src/features/search/results/TotalAttentionResults.jsx
  mcweb/frontend/src/features/ui/TotalAttentionEmailModal.jsx
  mcweb/util/send_emails.py
Labels: enhancement, search

#401 V2 email alert system
  mcweb/backend/sources/migrations/0023_source_alerted.py
  mcweb/backend/sources/models.py
  mcweb/backend/sources/tasks.py
  mcweb/frontend/templates/alerts/alert-system.html
  mcweb/util/send_emails.py
Labels: enhancement, directory

#404 Add background task settings
  mcweb/settings.py
Labels: enhancement, search, directory

#405 RE: Hide private collections from Detailed Search
  mcweb/frontend/src/features/directory/MediaSearchTable.jsx
Labels: bug, directory

#409 Change about search page to new one
  mcweb/frontend/src/features/header/Header.jsx
Labels: enhancement, search

#406 Clicking Outside Download All Attention Modal
  mcweb/frontend/src/features/search/results/TotalAttentionResults.jsx
  mcweb/frontend/src/features/ui/TotalAttentionEmailModal.jsx
Labels: enhancement, search

#419 Quick fix for negated query problem
  mcweb/frontend/src/features/search/util/setSearchQuery.js
Labels: bug, search
