Repository mediacloud/web-search, pull requests merged in 2023-08, with the labels that each got.

#448 Selected Collections Vanishing
  mcweb/frontend/src/features/search/query/PlatformPicker.jsx
  mcweb/frontend/src/features/search/query/SelectedMedia.jsx
  mcweb/frontend/src/features/search/query/media-picker/MediaPicker.jsx
  mcweb/frontend/src/features/search/query/media-picker/util/addType.js
Labels: bug, search

#453 Bug for deleting a query tab after searching
  mcweb/frontend/src/features/search/results/CountOverTimeResults.jsx
  mcweb/frontend/src/features/search/results/TotalAttentionResults.jsx
Labels: bug, search

#455 Fix for bug when deleting a tab while searching
  mcweb/frontend/src/features/search/results/CountOverTimeResults.jsx
Labels: bug, search

#463 documentation for import-data command
  doc/management-commands.md
Labels: documentation

#459 Add ".gz" to zipped file
  mcweb/backend/search/tasks.py
Labels: bug, search

#460 Created DropDownMenu with Nested Color Sub Menu
  mcweb/frontend/src/features/search/TabbedSearch.jsx
  mcweb/frontend/src/features/ui/MoreVertIconWrapper.jsx
  mcweb/frontend/src/features/ui/TabDropDownMenu.jsx
Labels: enhancement, search

#467 Add api key
  Procfile
  mcweb/backend/search/utils.py
  mcweb/backend/search/views.py
  mcweb/frontend/src/features/search/results/CountOverTimeResults.jsx
  mcweb/settings.py
Labels: enhancement, search

#469 Staging to prod
  Procfile
  doc/management-commands.md
  mcweb/backend/search/tasks.py
  mcweb/backend/search/utils.py
  mcweb/backend/search/views.py
  mcweb/frontend/src/features/search/TabbedSearch.jsx
  mcweb/frontend/src/features/search/query/PlatformPicker.jsx
  mcweb/frontend/src/features/search/query/SelectedMedia.jsx
  mcweb/frontend/src/features/search/query/media-picker/MediaPicker.jsx
  mcweb/frontend/src/features/search/query/media-picker/util/addType.js
  mcweb/frontend/src/features/search/results/CountOverTimeResults.jsx
  mcweb/frontend/src/features/search/results/TotalAttentionResults.jsx
  mcweb/frontend/src/features/ui/MoreVertIconWrapper.jsx
  mcweb/frontend/src/features/ui/TabDropDownMenu.jsx
  mcweb/settings.py
Labels: documentation

#470 Change alerts range from 1 to 1.5 std devs
  mcweb/backend/sources/tasks.py
Labels: directory

#476 fix: some spelling errors in Readme.md file
  README.md
Labels: bug, documentation

#479 Fix error with count over time results on errored search
  mcweb/frontend/src/features/search/results/CountOverTimeResults.jsx
Labels: bug, search

#480 add filename back and use .zip instead of .gz
  mcweb/backend/search/tasks.py
Labels: bug, search

#481 Feature comparative query
  mcweb/frontend/src/features/search/TabbedSearch.jsx
  mcweb/frontend/src/features/search/query/querySlice.js
  mcweb/frontend/src/features/search/util/generateComparativeQuery.js
  mcweb/frontend/src/features/ui/TabDropDownMenu.jsx
Labels: enhancement, search

#309 Saved Search Feature
  mcweb/backend/search/api.py
  mcweb/backend/search/migrations/0001_initial.py
  mcweb/backend/search/migrations/__init__.py
  mcweb/backend/search/models.py
  mcweb/backend/search/serializer.py
  mcweb/backend/search/urls.py
  mcweb/backend/sources/migrations/0022_alter_collection_featured_alter_collection_public_and_more.py
  mcweb/backend/sources/migrations/0023_remove_collection_featured.py
  mcweb/backend/sources/migrations/0024_collection_featured.py
  mcweb/backend/sources/migrations/0025_merge_20230307_1615.py
  mcweb/frontend/src/App.jsx
  mcweb/frontend/src/app/services/savedsearchApi.js
  mcweb/frontend/src/app/store.js
  mcweb/frontend/src/features/search/TabbedSearch.jsx
  mcweb/frontend/src/features/search/query/SelectedMedia.jsx
  mcweb/frontend/src/features/search/query/savedsearch/LoadSavedSearches.jsx
  mcweb/frontend/src/features/search/query/savedsearch/SaveSearch.jsx
  mcweb/frontend/src/features/search/styles/_search.scss
  mcweb/frontend/src/features/search/util/decodeSavedSearch.js
  mcweb/frontend/src/features/search/util/setSearchQuery.js
  mcweb/frontend/src/features/search/util/urlSerializer.js
Labels: enhancement, search

#491 Adjust range to 2 std devs for sources returning high story volume
  mcweb/backend/sources/tasks.py
Labels: directory
