Repository mediacloud/web-search, pull requests merged in 2023-05, with the labels that each got.

#333 Return advanced search, bug fixes to set advanced search
  mcweb/frontend/src/features/search/query/SimpleSearch.jsx
  mcweb/frontend/src/features/search/results/BarChart.jsx
  mcweb/frontend/src/features/search/results/TopWords.jsx
  mcweb/frontend/src/features/search/util/setSearchQuery.js
Labels: bug, enhancement, search

#335 Fix null negated query bug
  mcweb/frontend/src/features/search/util/setSearchQuery.js
Labels: bug, search

#336 Re: Add stories_per_week to Source Search results in Media Picker
  mcweb/frontend/src/features/search/query/media-picker/MediaPickerSelectionTable.jsx
Labels: enhancement, search

#337 Re: Add zoom to charts
  mcweb/frontend/src/features/search/results/CountOverTimeChart.jsx
Labels: enhancement, search

#340 Adjust date picker and date validations to allow search of one day
  mcweb/frontend/src/features/search/query/SearchDatePicker.jsx
  mcweb/frontend/src/features/search/util/deactivateButton.js
Labels: bug, search

#341 New command method to update stories per week
  mcweb/backend/sources/management/commands/source-alert-system.py
  mcweb/backend/sources/management/commands/update-stories-per-week.py
  mcweb/backend/sources/models.py
  mcweb/backend/sources/tasks.py
Labels: enhancement, search, directory

#348 Tab label comparison queries too long
  mcweb/frontend/__tests__/tabTitle.test.js
  mcweb/frontend/src/features/search/query/QueryPreview.jsx
  mcweb/frontend/src/features/search/results/CountOverTimeResults.jsx
  mcweb/frontend/src/features/search/results/SampleStories.jsx
  mcweb/frontend/src/features/search/results/TopLanguages.jsx
  mcweb/frontend/src/features/search/results/TopWords.jsx
  mcweb/frontend/src/features/search/results/TotalAttentionResults.jsx
  mcweb/frontend/src/features/search/util/tabTitle.js
Labels: enhancement, good first issue, search, low

#349 Update for release
  mcweb/frontend/src/features/search/TabbedSearch.jsx
  mcweb/frontend/static/about/release_history.json
  mcweb/settings.py
Labels: enhancement, search, directory

#357 Revert changes to query preview to allow accurate query preview
  mcweb/frontend/src/features/search/query/QueryPreview.jsx
Labels: bug, search

#358 Command docs
  doc/management-commands.md
Labels: documentation, directory

#364 Alert system adjustment
  mcweb/backend/sources/tasks.py
Labels: enhancement, directory

#368 Fix for wrong tab showing in media picker
  mcweb/frontend/src/features/search/query/media-picker/MediaPicker.jsx
Labels: bug, search

#369 Add notes to collection show page
  mcweb/frontend/src/features/collections/CollectionShow.jsx
Labels: bug, enhancement, directory

#371 RE: Show full results when searching directory
  mcweb/frontend/src/features/directory/DirectorySearch.jsx
Labels: enhancement, directory

#376 License
  LICENSE
Labels: documentation, enhancement

#374 Re: Adjust Bar Chart perspective
  mcweb/frontend/src/features/search/results/BarChart.jsx
Labels: enhancement, search

#377 Re: Allow return key to trigger search in Media Picker
  mcweb/frontend/src/features/search/query/media-picker/CollectionSearchPicker.jsx
  mcweb/frontend/src/features/search/query/media-picker/SourceSearchPicker.jsx
Labels: enhancement, search

#379 Add Spacing
  mcweb/frontend/src/features/search/results/TopLanguages.jsx
  mcweb/frontend/src/features/search/results/TopWords.jsx
Labels: bug, enhancement, search
